.random .view {
  background-image: url("../../images/twitter.png");
  background-size: 6in;
  background-position: center center;
  overflow-y: scroll;
}

.content {
  position: absolute;
  top: 75px;
  background-color: rgba(23, 13, 158, 0.3);
  color: #f1f1f1;
  width: 90%;
  padding: 20px;
  overflow-y: auto;
}

.title-style {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.text-style {
  font-size: 18px;
  text-align: center;
}
