.random .view {
  background-image: url("../../images/twitter.png");
  background-size: 6in;
  background-position: center center;
}

.title-style {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.text-style {
  font-size: 18px;
  text-align: center;
}
