.Navbar nav {
  background-color: "#391CAC";
  height: 65px;
  width: 100%;
}

.Navbar ul {
  background-color: "#391CAC";
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  height: 100%;
  align-items: center;
}

.Navbar div {
  margin: 0px 10px;
  padding: 0px 20px;
  padding-right: 40px;
  cursor: pointer;
}

.Navbar li {
  list-style-type: none;
  padding: 10px 20px;
}

.Navbar a {
  color: white;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Icon {
  padding-right: 60px !important ;
}

@media screen and (max-width: 759px) {
  .Navbar ul {
    height: 100%;
    width: 300px;
    left: 0;
    top: 0;
    position: fixed;
    flex-direction: column;
  }
}
